.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #999;
    stroke-width: 0.5px;
}

.node:active {
    z-index: 999;
}

.node circle {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
}

.node text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    pointer-events: none;
    fill: #eee;
    /*text-anchor: middle;*/
}

.graph {
    width: 100%;
    height: 400px;
    display: none;
}