@media screen and (min-width: 768px) {

    .flex_content {
        display: flex;
    }
/*
    .left_sidebar {
        flex: 0 0 25%;
        max-width: 25%;
        margin-right: 40px;
    }
*/
    .navbar_toggler {
        display: none;
    }

    .navbar-collapse {
        display: block !important;
        height: auto !important;
    }
}
/*
@media screen and (min-width: 1200px) {
    .left_sidebar {
        flex: 0 0 15%;
        max-width: 15%;
    }
}*/